
/*
* Styling for the Searchbar component.
*/

.searchBar {
    padding: 30px 10px 30px 10px;
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button.labelBtn {
    margin-left: 20px;
    height: 55px;
    padding: 10 5 5 5;
    margin-top: 10px;
}  

select.mdc-select--outlined .mdc-select__native-control {
    min-width: 200px;
}